h1 {
   font-family: bodoni-urw, serif;
   font-weight: 900;
   font-style: italic;
   font-size: 36px;
   text-transform: uppercase;
}

h2 {
  font-family: franklin-gothic-urw-cond, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0px;
  line-height: 25px;
  
}



h3 {
  font-family: franklin-gothic-urw-comp, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}

h4 {
  font-family: franklin-gothic-urw;
  font-weight: bold;
  font-size: 24px;
  color: #F17E1D;
  
}

body {
  font-family: franklin-gothic-urw;
  font-weight: 400;
  font-size: 24px;
}

.test {
   font-family: bodoni-urw, serif;
   font-weight: 900;
   font-style: italic;
   font-size: 24px;
   text-transform: uppercase;
   
}

.br { 
   line-height: 0.7;

} 
.update{
  font-family: franklin-gothic-urw;
  font-weight: 400;
  font-size: 16px;
}

.tabbable{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;

}



